<!DOCTYPE html>
<html>
  <head>
    <title>desynchronized</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav id="header-nav">
        <div id="blog-home">
            <div id="blog-title"><a id="blog-link" href="http://cs.mcgill.ca/~cleung24/blog">desynchronized</a></div>
            <div id="blog-headline">Lorem ipsum dolor sit ameta.</div>
        </div>
        <ul id="blog-links">
            <li>about</li>
            <li>archive</li>
        </ul>
    </nav>
    <div class="container">
      <article class="main">
        <header>
          <hgroup>
            <h1 class="post-title">{{title}}</h1>
            <h4 class="post-date">November 6, 2013</h4>
          </hgroup>
        </header>
        <div class="content">
          {{{contents}}}
        </div>
      </article>
      <nav id="listings">
        <div class="listing">
          <div class="listing-date">November 1, 2013</div>
          <div class="listing-title">Lorem Ipsum</div>
          <div class="listing-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
      </nav>
    </div>
  </body>
</html>
